ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}
.left {
    float: left;
    width: 80%;
}
.right {
    float: left;
    width: 19%;
}
#connection {
    background-color: rgb(79, 205, 79);
}

#warning {
    background-color: rgb(208, 94, 94);
}

#situation {
    background-color:rgb(79, 205, 79);
}
#mid {
    height: 650px;
}
#log_ex {
    height: 100%;
    border-color:1px rgb(33, 74, 189);
}